<% title Article.model_name.human.pluralize %>

<div class="admin_functions">
  <%= link_to "New #{ Article.model_name.human }", new_admin_article_path %>
</div>

<%= render 'admin/shared/search' %>

<%= informant_table @articles, {
      :headings => [ :headline, :summary, :date, :display, '', '', '' ], 
      :body => [
        :headline,
        it_shorten(:summary),
        lambda{|x| l x.date},
        it_ajax_toggle(:display),
        it_edit_images(:image),
        it_edit,
        it_destroy
      ]
    } %>

<%= paginate @articles %>
