<html lang="en">
  <body>
  
    <h3>New Newsletter Subscriber</h3>
    <p>
      <strong>Email:</strong>
      <br />
      <%= mail_to(@subscriber.email) %>
    </p>
    
  </body>
</html>