<div id="page-blue-boxes">
  <a class="page-blue-box" href="<%= page_path('we-communicate') %>">
    <div class="page-header dark-blue">
      We
    </div>
    <div class="page-header">
      communicate
    </div>
  </a>

  <a class="page-blue-box" href="<%= page_path('we-innovate') %>">
    <div class="page-header dark-blue">
      We
    </div>
    <div class="page-header">
      innovate
    </div>
  </a>

  <a class="page-blue-box" href="<%= page_path('we-promote') %>">
    <div class="page-header dark-blue">
      We
    </div>
    <div class="page-header">
      promote
    </div>
  </a>

  <a class="page-blue-box no-margin" href="<%= page_path('we-collaborate') %>">
    <div class="page-header dark-blue">
      We
    </div>
    <div class="page-header">
      collaborate
    </div>
  </a>

  <div class="clear"></div>
</div>
