<div id="home-blue-boxes">
  <a class="home-blue-box" href="<%= page_path('we-communicate') %>">
    <div class="home-header dark-blue">
      We
    </div>
    <div class="home-header">
      communicate
    </div>
    <p>
      we're a visible, vocal and active member of the business community
    </p>
  </a>

  <a class="home-blue-box" href="<%= page_path('we-innovate') %>">
    <div class="home-header dark-blue">
      We
    </div>
    <div class="home-header">
      innovate
    </div>
    <p>
      we plan and nurture new ideas that help BID businesses grow and thrive
    </p>
  </a>

  <a class="home-blue-box" href="<%= page_path('we-promote') %>">
    <div class="home-header dark-blue">
      We
    </div>
    <div class="home-header">
      promote
    </div>
    <p>
      we celebrate and actively promote the benefits of the city
    </p>
  </a>

  <a class="home-blue-box no-margin" href="<%= page_path('we-collaborate') %>">
    <div class="home-header dark-blue">
      We
    </div>
    <div class="home-header">
      collaborate
    </div>
    <p>
      we champion the bigger issues that require a collective approach
    </p>
  </a>

  <div class="clear"></div>
</div>
